 
 /*css common*/
/* width */
::-webkit-scrollbar {
  height: 4px; 
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D9D9D9; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6E7BFB;
  border-radius: 20px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6E7BFB; 
}
input[type=radio]  {
    accent-color: #6E7BFB;
}
body{
	background: #DDF0F0;
	color: #364152; 
	font-size: 14px;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}

p{
	color: #364152;
}
.btn{
	padding: 0.575rem 0.75rem;
}
.text-danger{
	color: #F97066 !important
}
.text-primary{
	color: #6E7BFB !important
}
.bg-primary{
	background: #6E7BFB !important;
}
.btn-primary{
	background: #6E7BFB;
	color: #fff;
	border-color: #6E7BFB;
}
.text-success{
	color: #068F4D !important;
}
.btn-primary-dark{
	background: #135859;
	color: #fff;
	border-color: #135859;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	display: flex;
    align-items: center;
    gap: 6px;
}
.btn-primary-dark i{
	font-size: 24px;
}
.btn-primary:hover{
	background: #E9F7F7;
	color: #6E7BFB;
	border-color: #6E7BFB;
}
.btn-outline-primary {
    color: #6E7BFB;
    border-color: #6E7BFB;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #6E7BFB;
    border-color: #6E7BFB;
}
.btn-secondary{
	background: #E9F7F7;
	color: #6E7BFB;
	border-color: #6E7BFB;
}
#dashboard .btn-secondary{
	border-color: #E9F7F7;
}
.btn-secondary:hover{
	background: #6E7BFB;
	color: #fff;
	border-color: #6E7BFB;
}
.close_btn{
	border:none;
	background: transparent; 
}
.card{
	background: #FFFFFF;
	border-radius: 16px;
	border:none;
}
/*header*/
#headerMenu{
	background: linear-gradient(89.86deg, #0CBCB5 -0.97%, #6E7BFB 52.22%);
}
.our_plan_info{
	/*background: linear-gradient(180deg, #6DD78D 0%, #5AC691 100%);*/
	border-radius: 60px;
	padding: 8px 16px  8px 28px;
	color: #fff;
}
.our_plan_info {
	font-weight: 600;
	font-size: 16px;
}
.our_plan_info .upgrade_btn{  
	min-width: 157px;
	height: 37px; 
	padding: 0.375rem 0.75rem;
	background: linear-gradient(87.19deg, #EFC69B 3.81%, #F3D19F 75.3%);
	border-radius: 200px; 
	color: #fff;
	border: none;
	margin-left: 10px;
	font-weight: 600;
	font-size: 16px;
}
#headerMenu .dropdown .btn.dropdown-toggle{
	background: #515DDA;
border-radius: 6px;
color: #fff;
padding: 12px 18px;

}
#headerMenu .dropdown .dropdown-item{
 padding: 8px 24px

}
.dropdown-menu[data-bs-popper]{
	margin-top: 0;
	border: none;
	filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
	border-radius: 0px 0px 6px 6px;
}
#headerMenu .dropdown .dropdown-item:hover{
 background: #E9F7F7;
}
.rabbitTable{
	filter: drop-shadow(0px 10px 20px rgba(26, 43, 55, 0.1));
	border-radius: 6px;
	background: #fff; 
}
table.dataTable thead th{
	background:#6E7BFB !important; 
    position: relative;
    color: #fff;
    font-weight: normal;
    border-bottom:none;

}
table.dataTable.no-footer{
	border:none;
}
table.dataTable thead th:after{
	content: '';
	background: url('/assets/images/sort_both.png') no-repeat;
	height: 20px;
    width: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
}
table.dataTable thead th.sorting_asc{
	background:#6E7BFB !important;  
}
table.dataTable thead th.sorting_asc:after{ 
	background: url('/assets/images/sort_asc.png') no-repeat;
}
table.dataTable thead th.sorting_desc{
	background:#6E7BFB !important;  
}
table.dataTable thead th.sorting_desc:after{ 
	background: url('/assets/images/sort_desc.png') no-repeat;
}

/*step_box_header*/
.step_box{
	border-radius: 8px;
	overflow: hidden;
}
.step_box_header{
	padding: 6px 24px;
	display: flex;
	flex-wrap: wrap;
	background: #6E7BFB;
	color: #fff;
	align-items: center;
 }
 .circle_box{
 	border: 8px solid #6DD78D ; 
 	height: 95px;
 	width: 95px;
 	border-radius: 50%;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	margin: 10px auto;
 	color: #697586;
 	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
 }
 .circle_box .guestBlogsUsed{
 	color: #095C37; 
	font-size: 16px; 
 }
 label{
 	color: #697586;
 	font-style: normal;
font-weight: 600;
font-size: 14px;
 }
 .form-control{
 	border: 1px solid #E3E8EF;
border-radius: 4px;
height: 48px;
padding-right: 16px;
padding-left: 16px;
 }
 .select2-container{ 
display: block;
width: 100% !important; 

 }
 .select2-dropdown {  
  z-index: 10060 !important;/*1051;*/
}
 .select2-container--default .select2-selection--single ,.select2-container .select2-selection--multiple{
    background-color: #fff;
    border: 1px solid #E3E8EF;
    border-radius: 4px;
    height: 48px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 44px;
}
.select2-container .select2-search--inline .select2-search__field{
	height: 24px;
	margin-top: 13px;
    margin-left: 10px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
	 border: 1px solid #E3E8EF;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: #6E7BFB; 
    border: 1px solid #6E7BFB;
    border-radius: 50px;
    color: #fff;
    line-height: 26px;

}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	    border-right: 1px solid #6E7BFB;
	    color: #fff;
	        color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 12px;
}
.list-group{
	border-radius: 0;
	max-height:337px;
	overflow-y: auto;
}
.list-group-item{
	font-weight: 600;
	color: #404040;
	padding:0;
	padding-left: 1.7rem;
    min-height: auto;
}
.list-group-item label{
	padding: 1rem 1rem 1rem 0rem;
	display: block;
}
.list-group-item input{
	margin-top: 1.2rem;
}
.form-group{
	position: relative;
}
.tool_tipcustom{
	position: absolute;
    color: #78C9FF;
    right: -25px;
    bottom: 10px;
    font-size: 20px;
}
.pageBtn{
	min-height: 44px;
}
.published_details{
	background: #FFFFFF;
border: 1px solid #ECF4EF;
box-shadow: 0px 1px 2px rgba(141, 155, 145, 0.1);
border-radius: 6px;
padding: 20px 16px;
}
.published_ttle{
	background: #E9F7F7;
border-radius: 6px;
display: flex;
flex-direction: row;
align-items: center;
padding: 15px 20px;
}
.progress_step{
	margin: 16px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px; 
	color: #095C37;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.progress_step .spinner-border{
	margin-right: 10px;
}
.info_box{
	background: #E9F7F7;
	border-radius: 6px;
	padding: 23px 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #155EEF;
}
.image_slider_blog .published_ttle{
	border-radius: 6px 6px 0px 0px;
}
.image_slider_blog .published_details{
	border-radius: 0px 0px 6px 6px;
}
 .form-switch{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top:4px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 44px;
	gap: 4px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 6px;
	margin-left: 10px;
}
.published_ttle_heading{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px; 
	color: #6E7BFB;
}
.drop-zone{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 21px;  
	text-align: center;
	height: 149px;  
	border: 2px dashed #6E7BFB;
	border-radius: 6px; 
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}
.upload_text{
	margin-top: 20px;
	font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;
color: #6E7BFB;
}
.step.active .bs-stepper-circle{
	background-color: #6E7BFB;
}
.step .bs-stepper-circle{
	background-color: #CDD5DF;
}
.bs-stepper .step-trigger{
	display: inline-block;
	position: relative;
	z-index: 10;
}
.bs-stepper-label{
	display: block;
	color: #6E7BFB;
	margin-top: 0;
	font-style: normal;
font-weight:500;
font-size: 14px
}
.bs-stepper-content{
	padding: 0;
}
.notice_box{
	background: linear-gradient(90.5deg, #0CBCB5 -7.61%, #6E7BFB 62.37%);
	border-radius: 16px;
	padding: 27px 5px;
	color: #FFFFFF;
	font-size: 16px;
line-height: 24px;
}
.bs-stepper .step{
	flex: 1 0 0%;
	position: relative;
	text-align: center;
}
.bs-stepper .bs-stepper-line{
	background: transparent !important;
	position: absolute; 
	left: 47%;
    top: 40px;
    width: 100%;
    z-index: 1;
    min-height: 4px;
}
.article-image {
    cursor: pointer;
    display: block;
    min-height: 200px;
    background-size: cover !important;
    background-position: center !important;
    margin: 5px 10px;
    position: relative;
}
.article-image.active{
	border:4px solid #6E7BFB;
}
.article-image.active:after{
	content: "";
	height: 32px;
	width:32px;
	background: url(/assets/images/icon/chack_image.png) no-repeat;
	position: absolute;
	right: 20px;
	top: 13px;
	z-index: 1;
}
.slick-arrow{
	height: 38px;
	width: 38px;
	position: relative;
	font-size: 0;
	background: #6E7BFB;
	color: #fff;
	border-radius: 50%;
	border:none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-arrow:hover{
	background: linear-gradient(180deg, #63CC92 0%, #3EA594 100%);
}
.slick-arrow.slick-prev:after{
	content: "";
	height: 15px;
	width: 10px;
	background: url(/assets/images/icon/arrow_prev.png) no-repeat;
}
.slick-arrow.slick-next:after{
	content: "";
	height: 15px;
	width: 10px;
	background: url(/assets/images/icon/arrow_next.png) no-repeat;
}
.slick-prev, .slick-next{
	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 100;
}
.slick-prev{
	left: -8px;
}
.slick-next{
	right: -8px;
}
.heading_title{
	color: #6E7BFB;
}
.articleFinalImage{
	height: 200px;
	position: relative;
	overflow: hidden;
}
.articleFinalImage img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.final_content{
	background: #F8FAFC;
	padding: 10px 8px;  
	max-height: 607px;
	overflow-y: auto;
}
.sub_heading{
	color: #6E7BFB;
	font-weight: 500;
	font-size: 16px;
}
.heading_small{
	color: #697586;
	font-weight: 400;
	font-size: 14px;
}
#changeLinksForm .form-group{
	position: relative;
}
#changeLinksForm .submit-btn{
	padding: 8px 10px;
    position: absolute;
    right: 6px;
    top: 28px;
    font-weight: 500;
    font-size: 14px;
    min-height: 30px;
    line-height: 17px;
}
#changeLinksForm .form-control{
	padding-right: 92px;
}
.tooltip-inner {  
    color: #202939; 
    background-color: #fff; 
    border: 1px solid #6E7BFB;
}
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before, .bs-tooltip-bottom .tooltip-arrow::before{
	border-bottom-color: #6E7BFB;
}
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before, .bs-tooltip-top .tooltip-arrow::before{
	    border-top-color: #6E7BFB;
}
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before, .bs-tooltip-end .tooltip-arrow::before{
	    border-right-color: #6E7BFB;
}
.dropdown-menu{
	min-width: 9.54rem;
}
.user_image{
	height: 28px;
	width: 28px;
	overflow: hidden;
	border-radius: 50%;
}

/*price_item*/
.price_item{
	padding: 24px;
	background: #FFFFFF; 
	border: 1px solid #DEF3F3;
	box-shadow: 0px 5px 10px rgba(59, 66, 102, 0.1);
	border-radius: 6px;
	position: relative;
	height: 100%;
	padding-bottom: 110px;

}
.price_item .btn-outline-primary{
	position: absolute;
    left: 24px;
    bottom: 20px;
	width: calc(100% - 48px) !important;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;  
	color: #FFFFFF;
	text-transform: uppercase;
	background: #6E7BFB;
	padding: 14px;
}
.price_item_header {
	text-align: left;
}
.price_item_header h4 {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%; 
	color: #202939;

}
.price_item_header h1 {
	font-weight: 800;
font-size: 32px;
line-height: 39px; 
color: #6E7BFB;
position: relative;

}
.per_month{
	font-weight: 400;
font-size: 14px;
line-height: 150%; 
color: #9AA4B2;
}
.price_item_list li{
	background: url(/assets/images/icon/price_item.png) no-repeat left center;
	padding-left: 30px;
	margin: 8px 0px;
}
.most_popular{
	position: relative;
}
.most_popular:after{
	content: "Most Popular";
	background: linear-gradient(180deg, #6DD78D 0%, #5AC691 100%);
	border-radius: 0px 6px;
	position: absolute;
	right: 0;
	top: 0; 
	font-weight: 500;
	font-size: 14px;
	line-height: 150%; 
	color: #FFFFFF;
	padding: 13px 25px;
}
.annuallyPrice{
	position: absolute;
    left: 24px;
    bottom:72px;
	width: calc(100% - 48px) !important;
	font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #6E7BFB;
}
.annualy_check{
	text-align: center;
}
.anualyCheckBox{
	display: inline-block; 
border-radius: 6px;
overflow: hidden;
}
.anualyCheckBox label{
	display: flex;
	align-items: center;
	
}
.anualyCheckBox .monthly, .anualyCheckBox .yearly{
	font-weight: 700;
	font-size: 16px;
	line-height: 150%; 
	background: #E3E8EF;
	color: #202939;
    padding: 14px;
    min-width: 150px;
    cursor: pointer;
}
.monthitem .monthly{
	background: #6E7BFB;
	color: #fff; 
}
.yearitem .yearly{
	background: #6E7BFB;
	color: #fff;
	padding: 14px;
}

/*faq*/
/* Custom style */
.accordion-button{
	color: #202939;
	font-weight: 500;
font-size: 16px;
line-height: 150%;
}
.accordion-button:not(.collapsed){
	color: #202939;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(.7) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

/*free_trial*/
.free_trial{
	background: linear-gradient(135deg, #3D9C99 6.43%, #47B093 93.57%);
border-radius: 6px;
padding: 24px;
color: #fff;
max-width: 309px;
margin: auto;
}
.free_trial p{
	color: #fff;
}
.remove_model{
	position: absolute;
	right: 14px;
	top: 10px;
	z-index: 10;
}
.tooltip {
    z-index: 100000000; 
}
.dt-buttons {
	display: none;
}

.dataTables_filter {
	display: none;
}
table.ourTable {
	background: white;
	border: 1px solid;
	border-radius: 5px;
}
table.ourTable td a {
	color: #000;
	text-decoration:none;
}

.sub_title {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px; 
	letter-spacing: -0.02em; 
	color: #6E7BFB;
}
.step_top_left_content p {
	color: #4B5565;
	margin-bottom: 0;
}
.change_link_form label{
	color: #202939;
}
.change_link_form_inut{
	position: relative;
}
.change_link_form_inut .form-control{
	padding-right: 100px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px; 
	letter-spacing: -0.02em;  
	color: #2970FF;
}
.change_link_form_inut button{
	position: absolute;
	top: 9px;
	right: 9px;
	font-weight: 500;
font-size: 14px;
line-height: 21px;
padding: 4px 15px;
}
.box_type{
	background: #EFF4FF;
	border-radius: 6px;
	padding: 16px;
}
.content_type_item{
	padding: 24px;
	border: 2px solid #ffffff;
	border-radius: 24px;
	background:#fff;
	text-align: center;
	width: 100%;
	height: 135px;
	display: flex;
	align-self: center;
	justify-content: center;
	margin-bottom: 16px;
	position: relative;
}
.content_type_item:hover{
	border: 2px solid #6E7BFB;
box-shadow: 0px 4px 4px rgba(1, 23, 230, 0.2);
}
.content_type_item.checked{ 
	border: 1px solid #B2CCFF; 
	background: #B2CCFF; 
	box-shadow: inset 0px 7px 3px rgba(0, 0, 0, 0.14);
}
.content_type_item input[type="radio"]{ 
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer; 

}
.content_type_item img{
	margin-bottom: 16px;
}
.content_type_item p{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px; 
	text-align: center;
	letter-spacing: -0.02em; 
	color: #6E7BFB;
}
.image_box_item{
	background: #FFFFFF; 
	border: 1px solid #EFF4FF;
	border-radius: 16px;
	padding: 8px;
	padding-bottom: 0;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.image_box_item.active{
	border:1px solid #6E7BFB;
}
.image_box_item.active:after{
	content: "";
	height: 32px;
	width:32px;
	background: url(/assets/images/content123/activeimage.png) no-repeat;
	position: absolute;
	left: 20px;
	top: 13px;
	z-index: 1;
}
.images_Content123{
	position: relative;
}
.images_Content123 .loadmore{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(180deg, rgba(217, 217, 217, 0) -61.3%, rgba(255, 253, 253, 0.97) 62.17%);
	padding: 212px 0 29px 0px;
}
.image_box_item .article-image{ 
	border-radius: 8px;
	margin: 0;
	overflow: hidden;
}
.image_box_item .btn-light{
	background-color: #ffffff;
}
.bs-stepper .step-trigger:hover{
	background-color: transparent;
}
#modalMessage .final_content{
	background: #fff;
	border: 1px solid #D1E0FF;
	border-radius: 16px;
	margin: 16px;
	max-height: 420px;
}

.alert-success { 
    background-color: #D3F8DF;
    border-color: #D3F8DF;
	border-radius: 8px;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #16B364;
	padding: 8px 16px;
	text-align: center;
}
#articleOrdersTable .btn-info{
	padding: 4px 8px;
	background-color: #528BFF;
	border-color: #528BFF;
border-radius: 6px; 
height:32px;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#articleOrdersTable .btn-primary{
	padding: 4px 8px;
	background-color:#295EC9;
	border-color: #295EC9;
border-radius: 6px; 
height:32px;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
#articleOrdersTable .btn-success{
	padding: 4px 8px;
	background-color:#16B364;
	border-color: #16B364;
border-radius: 6px; 
height:32px;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/*responsive*/
.navbar-toggler, .navbar-toggler:focus{
	outline: none;
    box-shadow: none;
}
.navbar-collapse{
	position: absolute;
    left: 0px;
    top: 70px;
    background: rgb(255, 255, 255);
    z-index: 100000;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}
@media only screen and (max-width: 991px) {
  .our_plan_info,.our_plan_info .upgrade_btn{
  	font-weight: 500;
	font-size: 14px;
  }
  .fs-14{
		font-size: 14px;
	}
}
@media only screen and (max-width: 767px) {
	.final_content{
		max-height: 380px;
	}
	.logo{
		max-width: 100px;
	}
	.modal-footer .btn { 
    font-size: 14px;
}
  .navbar-toggler{
  	position: absolute;
  	right: 3px;
    top: 10px;
  }
  .our_plan_info{
  	display: flex;
  	align-items: center;
  	width: 100%;
    margin-top: 5px;
  }
  .our_plan_info .upgrade_btn{
  	margin-left: auto;
  	min-width: 111px;
  }
  .navbar-collapse{
  	top: 52px;
  }
  .top_menu_publish{
  	flex-wrap: wrap;
  }
  .top_menu_publish > div{
  	flex:0 0 100%;
  	margin-bottom: 10px;
  }
  .top_menu_publish > div.d-flex{
  	 display: block !important;
  }
  .top_menu_publish > div .btn{
  	width: 100%;
  }
  .btn-primary-dark{
  	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
  }
  .btn-primary-dark i {
	    font-size: 16px;
	}
	.bs-stepper .step {
	    flex: 0 0 25%;
	    position: relative;
	    text-align: center;
	    max-width: 25%;
	}
	.bs-stepper .step-trigger{
		white-space: inherit;
		padding: 5px;
	}
	.bs-stepper .bs-stepper-line{
		top: 13px;
	}
	.bs-stepper-header{
		align-items: flex-start;
	}
	.dtfh-floatingparent.dtfh-floatingparenthead{
		display: none;
	}
	.tool_tipcustom{
		right: -15px;
	}
}

/*timer*/
.textYellow{
	color: #FEC22B;
}

.countdownTimer {
  display: inline-flex;
  gap:5px;
    align-items: center;
    justify-content: center;
    color: #44A994 ;
}
.countdownTimer > span{
  background: #44A994;
  height: 30px;
  width: 30px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
      display: flex;
    align-items: center;
    justify-content: center;
}
.countdownTimer > span > span{
  display: none;
}
.balckfridayCopy{
  display: inline-flex;
  gap:5px;
  padding: 6px;
}
.balckfridayCopy > span{
  background: rgba(178, 114, 226, 0.22); 
  border-radius: 6px;
  color: #fff;
  border: 1px solid #FFF;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 8px;
}
.balckCopyBtn{
  cursor: pointer;
}
body .balckCopyBtn{
	border-radius: 6px !important;
	border: 1px solid #FFF !important; 
	background: #1DB0C1 !important;
}
/*new*/
#BlackFridayModal .modal-lg{
  max-width: 600px;
}
#BlackFridayModal .modal-content{
  background: url(../images/123contentBack_bg.png) no-repeat;
  border-radius: 20px !important;
  padding: 15px;
  border: none;  
  background-size: cover;
}
#BlackFridayModal .modal-content .modal-body{ 
	padding: 0;
	border-radius: 8px;
	border: 1px solid #C7C7C7;
	background: linear-gradient(261deg, rgba(217, 217, 217, 0.32) 15.1%, rgba(217, 217, 217, 0.00) 87.56%, rgba(217, 217, 217, 0.00) 87.56%);
}
#BlackFridayModal .modal-content h3{ 
  color: #FFF;  
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25px;
  text-align: center;
  margin-top: 20px;
}
#BlackFridayModal .modal-content h5{
	max-width: 300px;
	margin: auto;
  color: #FFF;  
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
  text-align: center;
  margin-top: 20px;
}
#BlackFridayModal .modal-content h5 span{
	color: #F2F532;
}
#BlackFridayModal .modal-content h6{
  color: #FFF; 
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25px;
  text-align: center;
  margin: 20px 0px;
}
#BlackFridayModal .modal-content .btn-close{
   position: absolute; 
   background: #fff;
   color: #519e7b ;
   border-radius: 50%;
   padding: 5px;
   font-size: 16px;
       top: -5px;
    right: -5px;
    line-height: 1;
    opacity: 1;
}
#BlackFridayModal .countdownTimer{
  display: flex;
}
#BlackFridayModal .btn-primary{
  min-width: 204px;
  color: #FFF; 
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.25px;
  border-radius: 8px;
border: 1px solid #ffffff;
background: linear-gradient(96deg, rgba(110, 123, 251, 0.63) 13.86%, rgba(18, 183, 185, 0.63) 94.27%);
}
#BlackFridayModal h1{ 
	background:linear-gradient(141deg, #F2D679 -13.23%, #E0B115 77.81%);  
    color: #ffffff; 
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.25px;
	text-align: center;
	margin:0;
	position: absolute;
	top:-7px;
	left:-7px;
	width: 149px;
	height: 149px;
	border-radius: 50%; 
	padding: 36px 21px;

}
#BlackFridayModal h1 span{
	display: block;
	line-height: 1;
	font-size: 24px;
	font-weight: 500;
}
.copyBlackSeo p{
	font-weight: 400;
	color: #ffffff;
 } 
.copyBlackSeo{ 
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.25px;
  margin-top: 20px;
}
.copyBlackSeo .balckfridayCopy > span{ 
	border-radius: 0;
	border: none;
	border-bottom: 1px dashed #FFF; 
	background: rgba(178, 114, 226, 0.22); 

  color: #fff;
}
#BlackFridayModal .countdownTimer {
  margin-bottom: 10px;
  color: #FFEDB4;
  font-weight: 700;
  font-size: 20px;
}
#BlackFridayModal .countdownTimer > span{
	background: #3A75E4;
    width: 58px;
    height: 58px;
    border: 1px solid #10B8B8;
    border-radius:50%;
    font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.25px;
	color: #ffffff ;
	position: relative;
}
 
#BlackFridayModal .text-center{
  text-align: center !important;
}
body #BlackFridayModal .balckCopyBtn{
	border-radius: 6px !important;
	border:1px solid #FFF !important; 
	background: #3A75E4 !important; 
}

@media screen and (max-width: 600px) {
	#BlackFridayModal h1 { 
	    color: #ffffff;
	    font-size: 28px;    
	    margin: 0;
	    position: absolute;
	    top: -7px;
	    left: -7px;
	    width: 89px;
	    height: 89px;
	    border-radius: 50%;
	    padding:22px 11px;
	}
	#BlackFridayModal h1 span{
		font-size: 14px;
	}
	#BlackFridayModal .modal-content h3{
		font-size: 20px;
		margin-top: 40px;
	}
}
